body {
	background-color: #bdc3c7;
	height: 100vh;
	width: 100vw;
}

.nav {
	display: flex;
	justify-content: space-around;
	background-color: #34495e;
	padding: 5px;
	width: 100vw;
	box-shadow: 1px 1px 5px #888888;
	margin: -10px -10px 20px -10px
}

.jumbotron {
	color: #1E824C;
	border: solid 3px #27ae60;
	border-radius: 20px;
	padding: 20px;
	background-color: #ecf0f1;
	text-align: center;
	margin: 10px 20px 10px 20px;
}

.link {
	width: 25%;
	display: flex;
	justify-content: center;
	padding: 10px;
	color: #ecf0f1;
}

.link:hover {
	background-color: #34495e;
	color: white;
	cursor: pointer;
	border-bottom: solid 3px  #ecf0f1;
}

span {
	margin-right: 4px;
	color: #ecf0f1;
}

.about {
	background-color: #ecf0f1;
	color: #c0392b;
	border: solid 3px #c0392b;
	border-radius: 20px;
	padding: 20px;
	margin: 15px 20px;
	text-align: center;
}

.products {
	background-color: #ecf0f1;
	color: #9b59b6;
	border: solid 3px #9b59b6;
	border-radius: 20px;
	padding: 20px;
	margin: 15px 20px;
	text-align: center;
}

.services {
	background-color: #ecf0f1;
	color: #3498db;
	border: solid 3px #3498db;
	border-radius: 20px;
	padding: 20px;
	margin: 15px 20px;
	text-align: center;
}

.service-card {
	border: solid 3px #f39c12;
	border-radius: 8px;
	width: 25%;
	color: #d35400;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1%;
}

.icon-circle {
	border-radius: 50px;
	background-color: #d35400;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-icon {
	font-size: 70px;
	color: white;
}

.services-card-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-content: space-between;
}

.product-card-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-content: space-between;
}

.product-card {
	border: solid 3px #1abc9c;
	border-radius: 8px;
	width: 25%;
	color: #16a085;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1%;
}

.product-card img {
	width: 90%;
}
